# Local dependencies (Docker will install its own via pnpm)
node_modules
.pnpm-store

# Local environment secrets (Passed via docker-compose instead)
.env
.env.*
environment

# Heavy testing and benchmarking files
artillery.yml

# Version control configuration
.git
.gitignore

# Documentation and system files
README.md
.DS_Store
Thumbs.db
