
    # database
#neon postgres
DATABASE_URL=

    # caching
# cloud redis
REDIS_PASSWORD=
REDIS_URL=

    # session secrets
# jwt secret
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

# dev
NODE_ENV=development
PORT=port-number

# cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# data encrption 
ENCRYPTION_SECRET=